@import "../libs/normalize.css";
@import "functions";

* {
  font-family: 'TT Norms', sans-serif;
}

.header {
  background: url("../img/header-banner.png") no-repeat;
  height: 100vh;
  width: 100%;
  padding: 24px 24px 63px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include xs {
    padding: 30px 120px 86px 60px;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 92px;
  height: 63px;

  @include xs {
    height: 135px;
    width: 92px;
  }
}

.header-m-menu-btn {
  width: 50px;
  height: 30px;
  margin-left: auto;

  @include xs {
    display: none;
  }
}

.header__title {
  color: $fontWhite;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;

  @include xs {
    font-weight: 500;
    font-size: 115px;
    line-height: 130px;
  }
}

.header__description {
  color: $fontWhite;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  @include xs {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
    margin-left: 30px;
    max-width: 255px;
  }
}

.header-mid {
  display: flex;
  align-items: flex-end;
}

.header-bot {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
  @include xs {
    display: block;
  }
}

.header-about {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include xs {
    margin-left: auto;
    width: fit-content;
  }
}

.header-about__img {
  margin-bottom: 20px;
}

.header-about__btn {
  @include adaptive-font;
  @include adaptive-line-height;

  padding: 10px 25px;
  font-weight: 500;
  color: $fontWhite;
  text-decoration: none;
  border: 1px solid $gray;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-anchor {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);

  @include xs {
    background: none;
    margin: -15px auto 0;
  }
}

.page main {
  display: flex;
}

.page-sidebar {
  width: 120px;
  display: none;

  @include xs {
    display: block;
  }
}

.section {
  @include xs {
    display: flex;
  }
}

.section-top {
  position: relative;

  @include xs {
    width: 33.333%;
  }
}

.section-title {
  @include adaptive-section-title-font;
  text-transform: uppercase;
  color: $fontWhite;

  position: absolute;
  //padding-left: 1.5em;
  //text-indent: -2em;

  &_black {
    color: $fontBlack;
  }
}

.section-bot {
  padding: 0 24px;
  @include xs {
    width: 66%;
    padding: 0 28% 0 10%;
  }
}

.section-more-btn {
  @include adaptive-font;
  @include adaptive-line-height;

  margin-top: 40px;
  color: $fontBlack;
  font-weight: 500;
  padding: 15px 30px;
  border: 1px solid $gray;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
}

.play-btn {
  width: 100.57px;
  height: 88px;
}

.play-btn:hover path:first-of-type{
  fill: rgba(255, 255, 255, 0.2);
}

.about {
  .section-title {
    top: 285px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section-bot {
    padding: 30px 24px 70px 24px;

    @include xs {
      width: 67%;
      padding: 130px 28% 166px 10%;
      box-sizing: border-box;
    }
  }

  .play-btn {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);

    @include xs {
      top: 400px;
    }
  }

  .about-video {
    height: 260px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @include xs {
      height: 100%;
    }
  }

  .about-video__btn {
    width: 100px;
    height: 100px;
    border: 1px solid $white;
    position: absolute;
    z-index: 100;
  }

  .about-description {
    @include adaptive-font;
    @include adaptive-line-height;

    margin-bottom: 40px;
  }

  .about-table {
    border-collapse: collapse;

    td {
      width: 50%;
      border-bottom: 1px solid $grayStroke;
      padding: 10px 0;
    }

    tr:last-of-type td {
      border-bottom: none;
    }

    .about-table__left {
      color: $lightOrange;
      font-weight: 500;
      font-size: 34px;
      line-height: 44px;
    }

    .about-table__right {
      color: $fontBlack;
      font-size: 16px;
      line-height: 25px;
    }

    @include xs {
      min-width: 90%;

      .about-table__left {
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
      }

      .about-table__right {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  .section-more-btn {
    margin-top: 80px;
  }
}